<div class="new-group">
 <%= form_with model: @group do |form| %>
  <div class="form-label">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="form-label">
    <%= form.label :icon %>
    <%= form.text_field :icon %>
  </div>  
  <div class="form-label">
    <%= form.submit %>
  </div>

    <% end %>
</div>