<div class="new-payment">
    <%= form_with scope: :payment, url: payments_path, local: true do |form| %>
        <div class="label">
            <%= form.label :name %>
            <%= form.text_field :name %>
        </div>

        <div class="label">
            <%= form.label :amount %>
            <%= form.number_field :amount %>
        </div>

        <div class="label">   
        <%= form.collection_select :group_ids, current_user.groups.order(:name), :id, :name, {}, { class: "form-select", multiple: true, required: true } %>
        </div>

        <div class="label">
            <%= form.submit %>
        </div>
    <% end %>

</div>